name: "Lint JS"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-app:
    defaults:
      run:
        shell: bash -el {0}

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-latest

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "npm"

      - name: Install Dependencies
        run: npm install

      - name: Run Lint
        run: npm run lint
